*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.update{
    display: none;
}
.heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size:50px;
}
.heading span{
    color: rgb(0, 230, 230);
}
th{
    width: 10%;
}
table{
    margin-top:30px;
    margin-bottom: 20px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
tbody{
    text-align: center;
    
}
#t1{
    width: 15%;
    height:25px;
    margin-bottom: 10px;
}
#t2{
    width: 15%;
    height:25px;
    margin-bottom: 10px;
}
#t3{
    width: 15%;
    height:25px;
    margin-bottom: 10px;
}
#t4{
    width: 15%;
    height:25px;
    margin-bottom: 10px;
}
button{
    color: rgb(255, 255, 255);
    margin-top:10px;
    font-size:15px;
    width:15%;
    border:none;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(0, 229, 229);
}
button:hover{
    background-color: rgb(184, 184, 184);
}
.btn{
    text-align: center;
    cursor: pointer;
    background-color: antiquewhite;
}
.btn:hover{
    background-color:rgb(0, 229, 229);
}
